@model FYP.Models.LoginViewModel

@{
    
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/styles.css" rel="stylesheet" />
<link href="~/Content/SocialLogin.css" rel="stylesheet" />
<div id="loginModal" style="margin-top:100px" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">Login</h1>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form col-md-12 center-block", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    <div style="color:red;font-size:x-large">
                        @Html.ValidationSummary(true)
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", placeholder = "UserName" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" onclick="submit">Sign In</button>
                        <span><a href="ForgotPassword">Forgot Password?</a></span>
                    </div>
                    <div class="omb_login">
                        <div class="row omb_row-sm-offset-3 omb_socialButtons">
                            <div class="col-xs-2 col-sm-3">
                                <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                                    <i class="fa fa-facebook visible-xs"></i>
                                    <span class="hidden-xs">Facebook</span>
                                </a>
                            </div>
                            <div class="col-xs-2 col-sm-3">
                                <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                                    <i class="fa fa-twitter visible-xs"></i>
                                    <span class="hidden-xs">Twitter</span>
                                </a>
                            </div>
                            <div class="col-xs-2 col-sm-3">
                                <a href="#" class="btn btn-lg btn-block omb_btn-google">
                                    <i class="fa fa-google-plus visible-xs"></i>
                                    <span class="hidden-xs">Google+</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <a href="~/Account/Register" class="btn btn-danger btn-lg btn-block">Sign Up for free</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
